html{
    font-size:16px;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Robotto', sans-serif; */


}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
}
a{
    text-decoration: none;
    cursor:pointer;
}
header{
    display:flex;
    /* align-items:center; */
    justify-content:flex-end;
    /* border: 2px solid black; */
    
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:135px;

}
.logo{
    width:15rem;
    margin-top:3rem;
    align-self:center;
    position:fixed;
    left:0;
}

nav{
    align-self:center;
    justify-self:flex-end;
    margin-right:5rem;
    
}
nav a{
    margin-right:4rem;
    font-size:1.6rem;
    font-weight:600;
    
    
}
nav a.desactive{
    color:black;
    text-shadow: 3px 8px 10px white;
    color:rgb(109, 3, 3);
}

.home-first{
    height:100vh;
    background:url('../images/accueil.jpg');
    background-size:cover;
    background-position: right center;
    /* background-position: center center; */
    display:flex;
    justify-content:flex-start;
    position: relative;
    overflow: hidden;
    

    

}
/*
Le rgba(0,0,0,0.45) assombrit uniformément sans cacher l’image.
Le z-index sépare proprement l’image, l’overlay, et le contenu.
Le contenu reste lisible sans sacrifier l’image de fond.

PS: inset équivalent à top: 0; right: 0; bottom: 0; left: 0;
*/
.overlay {

    position: absolute;
    inset: 0;
    /* Assombrissement élégant */
    /* background-color: rgba(0, 0, 0, 0.45); */
    z-index: 1;
    /* box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 0px 0px; */
    background-color: rgba(1, 192, 255, 0.10);
      pointer-events: none;


}
.home-catchphrase{
    align-self: center;
    width:50rem;
    height:35rem;
    /* border: 2px solid black; */
    padding:3rem;
    padding-bottom:9rem;

    box-sizing: border-box;
    background-color: rgba(230, 179, 179, 0.45);
    border-radius:1rem;
    margin-left:4rem;
    margin-top:12rem;

    box-shadow: 6px 6px 7px rgb(24, 23, 23);



    
}
.home-catchphrase h1{
    font-size:7rem;
    color:white;
    text-shadow: 3px 8px 20px black;
    margin:0;

}

@keyframes blink{
    0%, 50%{
        opacity:1;
    }
    51%,100%{
        opacity:0;
    }
}

.home-catchphrase p{
    font-size:2.4rem;
    color:white;
    text-shadow: 3px 8px 20px black;
    width:50rem;
    

}
.anime-pub{
    width:38rem;

    padding:25px 0 25px 0;
    align-self: flex-end;
    position: absolute;

    /* right:12px; */
    /* bottom: 100px;
    right:-10px;
    border-radius: 1rem; */

    bottom: 60px;
    right:-160px;
    transform:rotate(-45deg);
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(188, 137, 137));

    display:flex;
    justify-content: center;
    border-top: 20px solid #0a3833;
    border-bottom: 20px solid #0a3833;
}
.anime-text{
    width:28rem;
    font-size:2rem;
    color:rgb(236, 229, 229);
    font-weight:600;
    text-align: center;
}
.writing-slogan,.blinking{
    font-size:2.5rem;
    background-color: #165049;
}
.blinking{
    display:inline-block;
    animation: blink 0.5s infinite;
    font-weight:100;
    padding:2px
}

.localisation-gif{
    width:6rem;
}

.home-devis{
    position:absolute;
    top:1.5rem;
    right:0rem;
    width:8rem;
    height:3;
    background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(179, 119, 119));

    /* color:rgb(205, 204, 204); */
    color:white;
    text-align:center;
    padding:20px 12px 20px 20px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);


}
.home-devis:hover{
    background:linear-gradient(60deg,rgb(111, 43, 43),rgb(98, 45, 45), rgb(224, 224, 224));
    background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(96, 22, 22));


}

.button-red{
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(188, 137, 137));
    /* color:rgb(222, 221, 221); */
    color:white;
    padding:13px 28px 13px 28px;
    box-shadow: 6px 6px 7px rgb(24, 23, 23);
    transition: all 0.5 ease;
    cursor:pointer;
    border-radius:3px;

}
.button-red.home{
    position:absolute;
    font-size:2rem;
    font-weight: 500;
    bottom:5rem;
    left:7.5rem;
}
.button-red:hover{
    background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(96, 22, 22));

}
.button-red.home:active{

    font-size:1.9rem;
    box-shadow:none;
    bottom:calc(5rem - 6px);
    margin-left:15px;

    
}
.button-green{
    background:linear-gradient(to right,#165049,#266c64, white);
    color:white;
}