@font-face {
  font-family: 'Lato';
  src: url('../assets/font/Lato/Lato-Regular.woff2') format('woff2');
  /* font-weight: normal;
  font-style: normal;
  font-display: swap; */
}
@font-face {
  font-family: 'Lato-blackitalic';
  src: url('../assets/font/Lato/Lato-BlackItalic.woff2') format('woff2');

}
@font-face {
  font-family: 'Lato-italic';
  src: url('../assets/font/Lato/Lato-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Lato-black';
  src: url('../assets/font/Lato/Lato-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/font/Roboto/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Rubik-light';
  src: url('../assets/font/Rubik/Rubik-Medium.woff2') format('woff2');
}


html{
    font-size:16px;
    font-family: sans-serif;
    /* font-family: Gentium */
    /* font-family: 'Roboto'; */
    font-family: 'Lato';
    /* font-weight: 00; */
    /* font-family: 'Rubik-light'; */
    
    
    
    /* src: url("../assets/font/Lato.woff2") format('woff2'); */

    
}
body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0;
}
a{
    text-decoration: none;
    cursor:pointer;
    
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* border: 2px solid black; */

    /* position: fixed; */
    position: fixed;
    top:0;
    z-index:2000;

    height:110px;
    width:100%;
    /* height:250px; */
    /* background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(188, 137, 137)); */
/* clip-path: polygon(0 0, 100% 0, 100% 82%, 44% 82%, 31% 100%, 0 100%); */
    /* box-shadow: 5px 5px 20px black; */
    /* background-color: rgba(243, 243, 243, 1);
    box-shadow:5px 0 20px black;
    border-bottom:7px solid #ea4545; */

    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 85%, 25% 100%, 0 100%); */


}
.header-visible{
    background-color: rgba(243, 243, 243, 1);
    /* background:linear-gradient(270deg,rgb(218, 211, 211),rgba(243, 243, 243, 1),rgb(218, 211, 211)); */

    box-shadow:5px 0 20px black;
    border-bottom:7px solid #ea4545;
    border-bottom:7px solid #0b3f3d;
    

}

.logo{
    position:relative;
    width:8rem;
    /* margin-top:1rem; */
    align-self:center;
    /* position:fixed; */
    left:1rem;
    z-index:3000;
    transition: all 0.4s ease;
}
.logo-visible{
    height:10rem !important;
    width:auto !important;
    top:1.5rem;
    left:-1rem;
    /* background: linear-gradient(110deg,rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.3),rgba(217, 208, 208,0));
    background: white;
    border-radius: 0 20rem 20rem 13rem; */
    /* clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); */
    /* border-radius:20rem;
    padding: 1rem;; */
    /* padding-top:0; */
    /* margin-left:0px; */
    


}
/* header::before{
    position:absolute;
    content:"";
    width:20rem;
    height:3rem;
    background-color: white;
    bottom:-3rem;
    border-radius:0 0 2rem 0;
    left:0;
} */

nav{
    /* align-self:center;
    justify-self:center; */
    margin-right:15rem;
    display:flex;
    align-self:flex-end;
    margin-bottom:10px;
    
    z-index:2000;
}
nav a{
    /* margin-right:4rem; */
    position:relative;
    font-size:1.3rem;
    /* font-weight:600; */
    color:black;

    /* color: #04322d; */
 
}

nav a.desactive{
    /* text-shadow: 3px 8px 10px white; */
    /* color:rgb(88, 5, 5); */
}

.link div{
    display: flex;
    align-items: center;
    /* background-color: red !important; */
    /* border:2px solid black; */
    height: 45px;
    padding: 0 30px 0 30px;
    margin:0;
        

    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
    transition: all 0.3s ease;
}
.link-visible{
    color:white !important;
    font-size: 20rem m !important;
    text-shadow: 3px 2px 8px black;
    font-size: 1.5;
}
.first{

    background:url('../images/accueil.jpg');
    background:url('../images/house-constructor.jpg');
    background-size:cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
}
.home-first{
    padding-top:100px;
    display:flex;
    justify-content: center;
    
    /* height:85vh; */
    height:80vh;

        /* background:url('../images/house-constructor-2.jpg'); */


    /* background-position: center center; */
    /* display:flex; */
    /* justify-content:flex-start; */
    
    overflow: scroll;
    
    align-items: flex-start;

    

}
/*
Le rgba(0,0,0,0.45) assombrit uniformément sans cacher l’image.
Le z-index sépare proprement l’image, l’overlay, et le contenu.
Le contenu reste lisible sans sacrifier l’image de fond.

PS: inset équivalent à top: 0; right: 0; bottom: 0; left: 0;
*/
.overlay {

    position: absolute;
    inset: 0;
    /* Assombrissement élégant */
    /* background-color: rgba(0, 0, 0, 0.45); */
    z-index: 1;
    /* box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 0px 0px; */
    /* background-color: rgba(1, 192, 255, 0.10); */
      pointer-events: none;


}
.home-catchphrase{
    position:relative;
    z-index:10;
    /* align-self: center; */
    /* justify-self: flex-end; */
    /* width:45rem; */
    max-width:40rem;
    /* width:70%; */
    

    text-align: center;
    /* height:35rem; */
    /* height:30rem; */
    height:90vh;
    height:fit-content;
    padding-bottom:20rem;
    /* max-height:90%; */
    /* border: 2px solid black; */
    padding:3rem;
    /* padding-bottom:9rem; */

    box-sizing: border-box;
    /* background-color: rgba(241, 241, 241, 0.45); */
    /* background-color: rgba(0, 0, 0, 0.15); */
    /* background-color: rgba(241, 241, 241, 0.15); */
    /* background-color: rgba(76, 73, 73, 0.45); BEFORE !!!*/
    /* background-color: rgba(76, 73, 73, 0.45); */


    /* border-radius:1rem; */
    border-radius:4px;
    /* overflow: visible; */

    /* border-radius: 50px 400px 40px 100px; */
    /* margin-left:10rem; */
    /* margin-left:10vw; */
    /* margin-top:12rem; */

    /* box-shadow: 6px 6px 7px rgb(24, 23, 23); */
    

    animation: unfold 2s;
    /* overflow: hidden; */
    /* animation-duration: 1s; */
    /* animation-delay:0s; */
    /* max-height:35rem; */
    /* max-height:30rem; */
    margin-top:7vh;

    
    
}
.home-catchsphrase::before{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:rgb(226, 223, 223);

    content:"";
    background:rgb(11, 78, 77);
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(163, 78, 78));
    background:rgb(96, 22, 22);
    background:#ea4545;
    /* background:#ea4545; */
    /* border-radius: 1rem 1rem 0 0; */
    width:100%;
    height:2rem;
    right:0;
    top:0;
    z-index:10;
    /* box-shadow: 0px 6px 7px rgb(24, 23, 23); */

}
.home-catchsphrase::after{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:rgb(226, 223, 223);

    content:"";
    background:rgb(11, 78, 77);
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(163, 78, 78));
    background:rgb(96, 22, 22);
    background:#ea4545;
    /* background:#ea4545; */
    /* border-radius: 0 0 1rem 1rem; */
    width:100%;
    height:2rem;
    left:0;
    bottom:0;
    box-shadow: 6px 6px 7px rgb(24, 23, 23);

}
.home-catchphrase h1{
    position:relative;
    font-family: 'Lato-blackitalic';
    font-size:5rem;
    color:rgb(255, 255, 255);
    /* text-shadow: 3px 8px 20px black; */
    margin:0 0 0.5rem 0;
    text-shadow: 3px 3px 10px rgb(60, 59, 59),-3px -3px 10px rgb(70, 70, 70);


}
.home-catchphrase h2{
    font-size:2.5rem;
    font-family: "Lato-blackitalic";

    color:rgb(255, 255, 255);
    /* text-shadow: 3px 8px 20px black; */
    margin:0;
    text-shadow: 3px 3px 10px rgb(60, 59, 59),-3px -3px 10px rgb(70, 70, 70);


}
/* .home-catchphrase h1::before{
    position:absolute;
    content:"";
    height:7px;
    width:15rem;;
    bottom:-20px;
    left:15px;

    background:rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 2px 0px 5px rgb(74, 62, 62);
} */


@keyframes blink{
    0%, 50%{
        opacity:1;

    }
    51%,100%{
        opacity:0;
    }
}
@keyframes unfold{
    0%{
        /* padding-top:0rem; */
        height:0;
        /* background-color: rgba(0, 3, 3, 0.45); */
        /* background-color: rgba(6, 6, 6, 0.65); */




    }
    /* 30%{
        padding-top:3rem;
    } */
    100%{
    
        height:100%;
        /* background-color: rgba(241, 241, 241, 0.15); */
        /* background-color: rgba(76, 73, 73, 0.55); */
        /* background-color: rgba(76, 73, 73, 0.45); BEFORE !!!*/
        /* background-color: rgba(241, 241, 241, 0.15);
        background-color: rgba(76, 73, 73, 0.45); */

    }
}

.home-catchphrase p{
    font-size:2rem;
    color:white;
    text-shadow: 3px 8px 10px rgb(38, 38, 38),-3px -8px 10px rgb(37, 37, 37);
    margin-top:3rem;
    width:40rem;
    margin-left:15px;
    /* margin-bottom:5rem;; */
    

}
.anime-pub{
    width:38rem;

    padding:25px 0 25px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* right:12px; */
    /* bottom: 100px;
    right:-10px;
    border-radius: 1rem; */

    bottom: 60px;
    right:-160px;
    transform:rotate(-45deg);
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(188, 137, 137));
    background:#dd3434;
    background:linear-gradient(270deg,#dd3434,#c81c1c,#090000);

    border-top: 20px solid white;
    border-bottom: 20px solid white;
    position:absolute;
    z-index:1000;
    text-shadow: 2px 3px 5px rgb(0, 0, 0); 
    font-family: "Lato-black";
    box-shadow: 0 0 0 13px rgb(11, 58, 57), 
              2px 2px 2px 12px black; 
    /* font-family: "Lato-Black"; */

    /* box-shadow: 5px 5px 10px rgb(198, 193, 193); */
}

.anime-text{

    width:27rem;
    font-size:2rem;
    color:rgb(236, 229, 229);
    font-weight:600;
}

.writing-slogan,.blinking{
    font-size:2.5rem;
    background-color: #165049;
}
.blinking{
    display:inline-block;
    animation: blink 0.5s infinite;
    font-weight:100;
    padding:2px
}

.localisation-gif{
    width:5.5rem;
}


.home-devis{
    /* opacity: ; */
    position:fixed;
    position:fixed;
    top:1rem;
    right:0rem;
    
    display:flex;
    align-items:center;
    
    width:8rem;
    /* z-index:1000; */
    font-size:1.5rem;
    margin-left:5rem;

    /* height:3; */
    
    /* background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(179, 119, 119)); */
    /* background: linear-gradient(90deg, #a03434,#d75353,#c76060); */

    /* background: linear-gradient(90deg, #a03434,#d75353,#ec8989); */
    background:#ea4545;

    /* background:linear-gradient(90deg,#dd3434,#dd3434,#e66c6c); */

    /* background:linear-gradient(270deg,#dd3434,#c81c1c,#660909); */


    /* color:rgb(205, 204, 204); */
    color:white;
    /* text-shadow: 3px 3px 5px rgb(62, 55, 55); */
    text-shadow: 6px 5px 5px rgb(0, 0, 0);    
    text-shadow: 4px 3px 5px rgb(0, 0, 0); 
    text-align:center;
    /* padding:20px 12px 20px 20px; */
    height: 80px;
    padding: 0 20px 0 20px;
    border-radius: 3px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    font-family: 'Lato-blackitalic';
    top:1.5rem;
    pointer-events: none;
    opacity:0;
}

.home-devis-active{
    opacity:1;
}

.home-devis:hover{
    /* background:linear-gradient(60deg,rgb(111, 43, 43),rgb(98, 45, 45), rgb(224, 224, 224));
    background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(96, 22, 22)); */
    background:#ef5e5e;


}

.button-red{
    /* color:rgb(222, 221, 221); */
    display:inline-block;
    color:white;
    padding:13px 28px 13px 28px;
    box-shadow: 6px 6px 7px rgb(24, 23, 23);
    transition: all 0.5 ease;
    cursor:pointer;
    border-radius:3px;
    
    background:linear-gradient(90deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(188, 137, 137));
    background:linear-gradient(60deg,rgb(96, 22, 22),rgb(96, 22, 22), rgb(96, 22, 22));

    background:linear-gradient(60deg,rgb(109, 26, 26),rgb(142, 39, 39),rgb(154, 89, 89));

}
.button-red.home{
    
    font-size:2rem;
    font-weight: 500;
        margin-top:1rem;

    /*
    position:absolute; 
    bottom:5rem;
    left:4rem; */
}
.button-red:hover{
    background:linear-gradient(90deg,rgb(97, 45, 45),rgb(97, 45, 45), rgb(97, 45, 45));
}
.button-red.home:active{

    font-size:2rem;
    box-shadow:none;
    /* bottom:calc(5rem - 3px); */
    margin-left:12px;
    margin-top:calc(1rem + 9px);

    
}
.button-green{
    background:linear-gradient(to right,#165049,#266c64, white);
    color:white;
}

/*Menu link which is selected*/
.nav-active{
    color:rgb(255, 255, 255);
    display:inline-block;
    background:#165049


}


.link div:not(.nav-active):hover{
    background: rgb(166, 194, 197) !important;

}
/* .nav a:not(.nav-active)::before{
    
} */

.desactive{
    left: -2000px;
    transition: left 0.5s ease;
    }
.active{
    left: 0px !important;
    transition: left 0.5s ease;
    
}
nav.active{
    /* justify-content: flex-start; */
    /* padding-top:12rem;
    gap:1rem; */

    /* background-position: bottom;
    background-size: 150%;
    background-repeat:no-repeat; */
    /* position:absolute; */
    /* height:100%; */
    background-color: white;
    margin-top:0px;
    padding-top:120px;
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    /* z-index:3000; */

}
nav.active a{
    margin:1rem;
    color:black !important;
    text-shadow: none;
}
.nav.desactive{
    background-color:none !important;
    background-color: white;

}
.burger-icon{
    width: 3.3rem;
    left:0px;

    margin:5px;
    padding-right:1rem;

    margin-bottom:0.3rem;
    display: none;
    z-index:3000;

}
.burger-icon:hover{
    cursor: pointer;
    opacity: 0.8;
}
.burger-icon:active{
    cursor: pointer;
    width:3rem;
}
.body-unscroll{
    overflow: hidden !important;
}
.nav-scroll{
    overflow: scroll;
}

/* @media(min-width:1300px){
    .home-catchphrase{
        margin-left:10vw;
    }
} */

@media(min-width:1000px){
    .home-devis{
        opacity:1;
    }
    .home-catchphrase h1{
        font-size: 6rem;
    }
    .home-catchphrase h2{
        font-size: 3rem;
    }
}

@media(max-width:1000px){

    nav{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;

        /* margin-right:20px; */
        padding-top:3rem;
        top: 0px;
        /* background-color: rgb(239, 170, 170); */
        margin-top:90px;

    }
    .logo{
        width:auto;
        height:100px;
    }
    header{
        height:90px;

    }
     .home-catchphrase{
        /* margin-top:14vw; */
    }
    .burger-icon{
        display: block;
    }
    .home-devis{
        position:fixed;
        top:0.8rem;
        right:0rem;
        right:7rem;
        height:70px;
        width:70px;

    }
    .anime-pub{
        padding:15px 0 15px 0;

    }

    .localisation-gif{
        position:fixed;
        right:20rem;
        top:1rem;
    }
    .link div:not(.nav-active):hover{
        background: none !important;
    }
    /* .home-catchphrase{
        margin-left:5vw;
    } */
}


@media(max-width:1000px){

    .anime-pub{
        width:35rem;
        bottom: 30px;
        right:-180px;

    }
    .anime-text{
        width:27rem;
        font-size:1.3rem;
    }
    .writing-slogan,.blinking{
        font-size:1.7rem;
    }
    .home-devis{
        top:1.2rem;
     
        font-size: 1.2rem;
        height:55px;
    }

}
/* @media(min-height:730px) and (min-height:800px){
    .home-first{
        height:50vh;
    }
} */
@media(max-width:740px){
        .experiences{
            padding: 0 0 0 0 !important;
            
        }
        .experience{
            width:100% !important;
            max-width:100% !important;
            clip-path: none !important;
        }
    .experience:not(.first,.second-experience){
        border-top: 20px solid black !important;
        border-bottom: 20px solid black !important;
    }
}


@media(max-width:600px){


     /* .home-catchphrase h1{
        font-size:3.2rem;
    }
     .home-catchphrase h2{
        font-size:2rem;
    } */

   
    .anime-pub{
        bottom: 20px;
        right:-210px;
    
        border-top: 15px solid rgb(9, 67, 66);
        border-bottom: 15px solid rgb(9, 67, 66);

    border-top: 12px solid white;
    border-bottom: 12px solid white;

    box-shadow: 0 0 0 8px rgb(11, 58, 57), 
              2px 2px 2px 10px black; 
    }
    .anime-text{
        width:27rem;
        font-size:1.1rem;
    }
    .writing-slogan,.blinking{
        font-size:1.3rem;
    }


}
@media(max-width:500px){
    .home-catchphrase{
        margin-top: 0;
    }
     .home-catchphrase h1{
        font-size:3.2rem;
    }
     .home-catchphrase h2{
        font-size:2rem;
    }
}
@media(max-height:500px) and (max-width: 1000px) {
    .home-catchphrase{
        padding-right: 10rem;;
        margin-bottom:10rem;
        margin-top: 0;
        height:80vh
    }
    .home-catchphrase h1{
        font-size: 3rem;
    }
    .home-catchphrase h2{
        font-size: 2rem;
    }
}


.experiences{
    padding:2rem 1rem 3rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap:2%; */
    max-width:100%;
    /* background:rgb(7, 86, 77); */

}
.experience{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    gap:1rem;
    padding:2rem 0;


    width:25%;
    max-width:400px;
    height:120px;
    /* background:blue; */
    /* border:2px solid black; */
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);


    font-size:1.5rem;
    font-family: 'Lato-blackitalic';
    color:rgb(8, 78, 59);
    text-shadow:  2px 3px 8px white;
    text-align:center;
    color:white;
    text-shadow:  2px 3px 8px black;


}
.exp-number{
    font-size:2.3rem !important;
}
.experience:not(.first){
    background:rgb(7, 71, 72);
    background:linear-gradient(270deg,rgb(2, 27, 28),rgb(7, 71, 72),rgb(2, 22, 22));

}

.experience.first{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    color:white;
    text-shadow:  2px 3px 8px black;
}
.experience.second-experience{
    background:linear-gradient(270deg,#300808,#c81c1c,#300808);
    
}
.experience span{
    width:80%;
}
span#experience{

}

.bande{
    display:flex;
    justify-content: center;
    text-align: center;
    
    font-size:2rem;
    padding-top:1.5rem;
    padding-bottom:1.5rem;

    font-weight:600;
    color:#ffffff;

    background: linear-gradient(45deg,#9cd0ca, #165049 , #9cd0ca);
    width:100%;
    border-radius: 2px;
    margin-top: 0px;
    font-family: 'Lato-blackitalic';
    text-shadow: 4px 3px 5px rgb(0, 0, 0); 

    text-shadow: 2px 3px 5px rgb(0, 0, 0); 
    /* font-family: "Lato-black"; */
    background:linear-gradient(270deg,#dd3434,#c81c1c,#090000);
        /* background:linear-gradient(270deg,rgb(9, 85, 86),rgb(7, 71, 72),rgb(4, 49, 50)); */


    border-top: 20px solid black;
    border-bottom: 20px solid black;
}