

 /* <section class="part">
            <div class="titled-part">
                <div class="aligned-part">

                </div>
            </div>


        </section> */
        
.part{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width:100%;
    /* height:600px; */
    /* background: rgb(33, 221, 234); */
    margin-bottom: 5rem;
    

}
.titled-part{

}
/*Partie Elem*/
.aligned-part{
    padding:2rem 0rem 3rem 0;
    background: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:3%;
    box-sizing: border-box;

}

/* service-elem-part service-intro-part */
.elem-part{
    width:25%;
    max-width:350px;
    min-height:600px;
    /* background:red; */
    background:white;
    padding:1rem 1rem 2rem 1rem;
    margin-bottom:2rem;
    display: flex;
    flex-direction: column;
    border: 5px dashed rgb(181, 10, 10);
    /* align-items: center; */
    /* justify-content: ; */


}

.elem-part.intro-part{
    /* min-height:400px; */
    height:auto;
    width:30%;
    min-width: 250px;
    max-width:500px;
    max-width:100%;
    align-items: flex-start;
    margin-left:0;
    /* justify-content: ; */
    

}
.elem-part svg{
    width:35px;
    /* margin-right: 15px; */
}
.elem-part span{
    display:flex;
    /* flex-direction: row; */
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;;
    gap:10px;
    /* gap:35px; */

}
.elem-part img{
    align-self: center;
    width:100%;
    max-width:300px;
}
.elem-part h1{
    text-align: left;
}
.rotate-p{
    /* border: 2px solid black;
    border-radius: 20px; */
    margin:10px 0 20px 0;
    padding:5px;
    /* transform:matrix(1.02,-0.01,-0.19,0.98,0,0);
    -ms-transform:matrix(1.02,-0.01,-0.19,0.98,0,0);
    -webkit-transform:matrix(1.02,-0.01,-0.19,0.98,0,0); */
}
.part-title{
        font-family: 'Lato-blackitalic';
        font-size: 3rem;
        width:80%;
                color:rgb(5, 56, 50);


}
.part-intro{
        font-family: 'Lato-blackitalic';
        font-family: 'Lato-black';
        font-size: 1.5rem;
        width:80%;
        color:rgb(5, 56, 50);

}





.infinite-picture{
    /* display:flex;
    gap:1rem; */
    overflow: hidden;
    width:100%;

}
.infinite-img{
    display:flex;
    justify-content: center;
    /* transform:translateX(-50%); */
    /* transition: all 1s linear; */
    /* transition: transform 0.3s ease; */
    /* gap:1rem; */
    /* animation: defilements 15s linear infinite; */
     


}
.inf-img{
    width:25%;
    min-width:300Px;
    height:300px;
    margin:0.5rem;
    
    
}
/* @keyframes defilements{
    0% {
        transform:translateX(-50%)
    }
    50% {
        transform:translateX(0%)
    }
    100%{
        transform:translateX(50%)
    }
} */

@media(min-width:1500px){
    .aligned-part{
        align-items: center !important;
        justify-content: center;
        padding:2rem 10rem 3rem 10rem;

    }

}

@media(max-width:800px){
/*PARTIE PART*/
        .aligned-part{
            padding:2rem 0 2rem 0 !important;
            justify-content: center !important;
            
        }
        .elem-part{
            width:80% !important;
            max-width:80% !important;
            min-height:auto;
        }
        .elem-part.intro-part{
            width:80% !important;
            max-width:100% !important;
            min-height:auto;

        }




}